<h1>Create container</h1>

<p>
    <a asp-controller="AzureBlobs" asp-action="Index">Back to Index</a>
</p>

<form method="post">
    <label>ContainerName</label>
    <input type="text" name="containername" class="form-control"/>
    <button class="btn btn-success">Create</button>
</form>